 .chat-container{
    width: 80%;
    height: 70%;
    border: 1px solid #2092f5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
  }
  
  .chat-box{
    width: 90%;
    min-height: 50px;
    background: rgb(0, 195, 255);
    margin-left: 5%;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    word-break: break-all;
    padding: 5px;
    box-sizing: border-box;
    
  }

  textarea{
    border-radius: 10px;
    width: 100%;
    height: 30px; 
    margin-left: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 0.5;
    background-color: black;
    color: white;
  }

.submites-button{
    height: 35px;
    width: 100px;
    background-color: aqua;
    border: 0;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    opacity: 0.5;
  }
  
  .submites-button:hover{
  cursor: pointer;
  box-shadow: 0 0 5px aqua, 0 0 10px aqua, 0 0 15px aqua;
  transition: 0.2s;
  box-sizing: border-box;
}

form{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.bot-box{
    width: 30%;
    height: 80%;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    margin-top: 8%;
    margin-right: 4.5%;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}

.background-container{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
}

.circle1{
    border-style: solid;
    border-width: 5px;
    border-color: #2092f5 #2092f5 #7dc2ff #7dc2ff;
    animation: animatecircle1 8s linear infinite;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circle2{
    border-style: dashed;
    border-width: 8px;
    border-color:  #7dc2ff #7dc2ff #2092f5 #2092f5;
    animation: animatecircle2 3s linear infinite;
    border-bottom-color: black;
    border-right-color: black;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%);
}

.circle3{
    border-style: solid;
    border-width: 5px;
    border-color: #2092f5 #2092f5 #7dc2ff #7dc2ff;
    animation: animatecircle3 2s linear infinite;
    border-top-color: black;
    border-left-color: black;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circle4{
    border-style: dashed;
    border-width: 4px;
    border-color:  #7dc2ff #7dc2ff #2092f5 #2092f5;
    animation: animatecircle1 1s linear infinite;
    border-bottom-color: black;
    border-right-color: black;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circle5{
    border-style: solid;
    border-width: 3px;
    border-color: #2092f5 #2092f5 #7dc2ff #7dc2ff;
    animation: animatecircle1 0.5s linear infinite;
    border-top-color: black;
    border-left-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circle6{
    border-style: dashed;
    border-width: 4px;
    border-color:  #7dc2ff #7dc2ff #2092f5 #2092f5;
    animation: animatecircle1 5s linear infinite;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circlea{
    border-style: solid;
    border-width: 2px;
    border-color: aqua aqua cyan cyan;
    animation: animatecircle1 5s linear infinite;
    border-top-color: black;
    border-left-color: black;
    width: 200px;
    height: 200px;
    left: 10px;
    top: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circleb{
    border-style: dashed;
    border-width: 2px;
    border-color: aqua aqua cyan cyan;
    animation: animatecircle1 1s linear infinite;
    border-bottom-color: black;
    border-right-color: black;
    width: 150px;
    height: 150px;
    left: 40px;
    top: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circlec{
    border-style: solid;
    border-width: 2px;
    border-color: aqua aqua lightskyblue lightskyblue;
    animation: animatecircle1 1.5s linear infinite;
    border-bottom-color: black;
    border-right-color: black;
    width: 100px;
    height: 100px;
    left: 70px;
    top: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

.circled{
    border-style: dashed;
    border-width: 2px;
    border-color: aqua aqua lightskyblue lightskyblue;
    animation: animatecircle1 2s linear infinite;
    border-bottom-color: black;
    border-right-color: black;
    width: 50px;
    height: 50px;
    left: 100px;
    top: 100px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
}

@keyframes animatecircle1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animatecircle2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animatecircle3 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animatecircle4 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animatecircle5 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animatecircle6 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}